*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
a{
    pointer-events: all;/* to make only a and buttons clickable */
    text-decoration: none;
    color:white;
    font-family: 'gilroy';
    font-size: 12px;
    font-weight: 700;
}
.main{
    width:100%;
    height:100vh;
}
.back{
    width:100%;
    height:100vh;
}
.back img{
    width: 100%;
    height:100vh;
    object-fit: cover;
}
.top{
    pointer-events: none;/*to prevent clicking on my top layer */
    position:absolute; /* so that it is always on top */ 
    top: 0;
    left: 0;
    width:100%;
    height:100vh;
    display:flex;
}
.working-area{
    width:80%;
    height:100vh;
    margin: 0 auto;
    position: relative;
}
.nav{
    width:100%;
    padding : 20px 0;
    display: flex;
    justify-content: space-between;
}
.nav-left img{
    height: 8vh;
}
.nav-left{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 40px;
}
.content{
    width: 100%;
    display:flex;
    justify-content: space-between;
    position: absolute;
    top:50%;
    left:0%;
    transform: translate(0% ,-50%);
    margin-top:10vh;
}
.content-left{
    min-width:50%;
    padding: 2vh;
}
.content-right{
    width:25%;
    padding: 2vh;
    color: white;
    display: flex;
    flex-direction: column;
}
.content-left .heading h1:nth-child(1){
    top:0;
}
.content-left .heading h1{
    font-family: "kajiro";
    color:white;
    font-weight: 100;
    font-size: 9vw;
    position: absolute;
    top:100%;
    left:0;
    
}
.content-left .heading{
    height: 9vw;
    position: relative;
    overflow: hidden;
}
.content-left button{
    font-size: 2.5vw;
    padding: 0.8vw 4vw;
    margin-top: 1vw;
    background-color: rgb(226, 226, 226);
    font-family: "kajiro";
    pointer-events: all;
    cursor: pointer;
}
.content-right p{
    text-align:right;
    font-size:14px;
    font-weight: 300;
}
.content-right .img-div{
    width:100%;
    height:170px;
    margin-top:20px;
    margin-bottom: 25px;
    background-image: url("potrait.avif");
    background-size: cover;
    background-position: center;
}
.content-right p:nth-child(3){/*used for getting childs of parent */
    margin-bottom: 30px;
}